
.but1{
    background-color: orangered;
    border: 0px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.but1:hover{
    background-color: white;
    color: orangered;
    border: 1px solid orangered;
    transition:0.3s;
}